#contener{

display: grid;
grid-template-columns: repeat(6,1fr);
grid-template-rows: repeat(6,200px);
gap: 5px;

}
  img{
  width: 100%;
  height: 100%;
}
.big{
  grid-column: span 6;
  grid-row: span 2;
}
.midiam{
  grid-column: span 2;
  grid-row: span 2;
}
.small1{
  grid-column:span 2;
  grid-row:span 1;
}


@media screen and (max-width:576px) {
*{
  margin: 0;
}

.midiam{
  grid-column: span 2;
  grid-row: span 1;
}
.small1{
  grid-column:span 2;
  grid-row:span 1;
}
  .xlsmall{
    grid-row: span 1;
    grid-column: span 2;
  }
}
 